
// -----------------------------------------------------------------------------
// This file contains all styles related to the decoration component.
// -----------------------------------------------------------------------------

.decoration{
  @include flex-default;

  padding: 0px 20px;
  
  position: absolute;
  top: 30px;
  right: 415px;

  .little-circle{
    width: 8px;
    height: 8px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    background-color: $button-color;

  }

  .line{
    width: 195px;
    height: 1px;

    background-color: $button-color;

  }

  .big-and-little-circle{

    @include flex-default;


    width: 20px;
    height: 20px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    border: 1px solid $button-color;

    .little-circle{
      width: 8px;
      height: 8px;
  
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
  
      background-color: $button-color;
  
    }

  }

}