
// -----------------------------------------------------------------------------
// This file contains all styles related to the typographt and text of the site/application.
// -----------------------------------------------------------------------------


// Title

h1{
  font-family: Butler;
  font-size: 4.5em;

  color: #293E59;
}

h2{
  color: #293E59;
  font-family: Butler;
  font-weight: bold;
  letter-spacing: -0.3px;
  line-height: 56px;
  font-family: Butler;
  font-size: 48px;
}

h3{

  height: 40px;
  width: 225px;

  color: #293E59;

  font-family: Butler;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.3px;
  line-height: 40px;

}


h4{
  font-weight: 100;
  color: #484A54;

  font-family: Butler;
  font-size: 32px;
  letter-spacing: -0.3px;
  line-height: 40px;
  text-align: center;
}


//Text

p{
  font-size: 16px;
  line-height: 24px
}

span{
  font-size: 12px;
}