
// -----------------------------------------------------------------------------
// This file contains all styles related to the typographt and text of the site/application.
// -----------------------------------------------------------------------------


// Title

h1{
  font-family: Butler;
  font-size: 4.5em;

  color: #293E59;
}


h4{
  font-weight: 100;
}


//Text

p{
  font-size: 16px;
  line-height: 24px
}



span{
  font-size: 12px;
}