// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer{
  
  background-color: #F2F4F6;

  margin-top: 125px;
  padding: 80px 0;

  .footer-top{

    @include flex-between;

    padding-bottom: 70px;

    border-bottom: 1px solid #CACACA;

    .footer-top-left{

      width: 45%;

      p{

        color: #9B9B9B;

        margin: 15px 0;
      }

    }

    .footer-top-center,
    .footer-top-right{

      width: 20%;

      li{
        margin-bottom: 20px;

        a{
          font-size: 16px;
        }
      }

    }

  }

  .footer-bottom{


    .footer-bottom-top{

      @include flex-between;
      flex-wrap: wrap;

      .logo-container{

        width: 168px;

        margin: 30px 0 0 0;

        img{
          width: 100%;
        }
      }

      .social-icon-container{

        @include flex-default;

        margin: 30px 0;

        .social-icon{
          margin-left: 20px;

          img{
            color:none;
            cursor: pointer;

          }

        }

      }

    }

    .footer-bottom-bottom{

      @include flex-between;
      align-items: center;
      flex-wrap: wrap;

      a{
        margin-right: 30px;
      }

      p{
        font-size: 12px;
        text-align: center;
        margin: 30px 0
      }
      
      .language-website-container{
  
        @include flex-default;
  
        .language-website{
  
          span{
  
            margin-left: 20px;
  
            text-transform: uppercase;
            cursor: pointer;
  
            &.active,
            &:hover{
              color: $button-color;
  
              font-weight: bold;
              text-decoration: underline;
              
            }
  
          }
  
        }
        
      }

    }

  }

}