// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer{

  margin-top: 126px;
  padding: 81px 0;

  .footer-top{

    @include flex-between;

    padding-bottom: 70px;

    border-bottom: 1px solid #CACACA;

    .footer-top-left{

      width: 45%;

      h2{
        height: 64px;

        color: #293E59;
        
        font-family: Butler;
        font-size: 56px;
        font-weight: bold;
        letter-spacing: -0.3px;
        line-height: 64px;
      }

      p{
        height: 72px;
        width: 422px;

        color: #9B9B9B;

        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;

        margin: 15px 0;
      }

    }

    .footer-top-center,
    .footer-top-right{

      width: 20%;

      li{
        margin-bottom: 20px;

        a{
          height: 24px;
          width: 45px;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 24px;
        }
      }

    }

  }

  .footer-bottom{

    @include flex-between;

    height: 120px;

    .footer-bottom-left{

      .logo-container{
        height: 40px;
        width: 167.23px;

        margin: 30px 0;

        img{
          width: 100%;
        }
      }

      a{
        margin-right: 30px;

        letter-spacing: 0;
        line-height: 20px;
      }


    }

    .footer-bottom-center{

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      height: 100%;

      p{
        height: 18px;

        color: #293E59;

        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
      }
      
    }

    .footer-bottom-right{

      height: 100%;

      .social-icon-container{

        @include flex-default;

        height: 40px;
        margin: 30px 0;


        .social-icon{
          margin-left: 20px;

          img{

            cursor: pointer;

            &:hover{
              color: $button-color;
            }

          }

        }

      }

      .language-website-container{

        @include flex-end;

        .language-website{

          span{

            margin-left: 20px;

            height: 20px;
            width: 20px;

            color: #293E59;

            letter-spacing: 0;
            line-height: 20px;

            text-transform: uppercase;
            cursor: pointer;

            &.active{
              color: $button-color;

              font-weight: bold;
              text-decoration: underline;
              
            }

          }

        }
        
      }
      
    }

  }

}